<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div>
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div>
                    <a href="/" class="btn btn-primary">
                        <span class="glyphicon glyphicon-home"></span>
                        Home </a>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>