<% include partials/header %>

<div class="container">
    <% if (currentUser.username != role.admin)  { %>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        You aren't authorized to access here!!</h1>
                    <div>
                        <a href="/" class="btn btn-primary">
                            <span class="glyphicon glyphicon-home"></span>
                            Home </a>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="container">
            <!-- Not initializing your chart until the document is-->
       <!-- window.onload = function() {
          <!-- N put chart.js code here
        }-->
        <canvas id="myChart"></canvas>
    <script>
        var data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: {{chartData}}
                }
            ]
        };

        var ctx = document.getElementById("myChart").getContext("2d");
        //var myNewChart = new Chart(ctx).Line(data);
    </script>

        </div>

</div>
<% include partials/footer %>