<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    Oops!</h1>
                <h2>
                    Seems like this task has been deleted or does not exist!</h2>
                <div>
                    <a href="/" class="btn btn-primary">
                        <span class="glyphicon glyphicon-home"></span>
                        Home </a>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>