#landing {
    background: url(https://i.imgur.com/ThMB6BV.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: "Lato";
    color: white;
}

.landing-content{
    padding-top: 15%;
	text-align: center;
}

#landing-hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar {
    margin-bottom: 0;
}